POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=stockflow

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}
REDIS_URL="redis://localhost:6379"

# SMTP Configuration
SMTP_HOST="smtp.ejemplo.com"
SMTP_PORT=587
SMTP_USER="tu_usuario"
SMTP_PASSWORD="tu_password"
MAIL_FROM="StockFlow <no-reply@stockflow.com>"

# Bull Board Configuration
BULL_BOARD_USER="admin"
BULL_BOARD_PASSWORD="change-this-password"

JWT_SECRET=change-this-in-production
JWT_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION=7d

# Credenciales Iniciales
INITIAL_ADMIN_EMAIL=admin@stockflow.local
INITIAL_ADMIN_PASSWORD=admin123
